.comments {
  margin-bottom: 12px;
  .list {
  }
}

.comment {
  width: 100%;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .column {
    .username {
      font-weight: 600;
  }
    .message {
    }
  }
  .deleteComment {
    cursor: pointer;
    @include breakpoint("phone") {
      display: none;
    }
  }
}