.navigation {
  width: 100%;
  min-width: 500px;
  @include boxBorder(no);
  display: flex;
  justify-content: center;
  @include boxBorder(no);
  .inner {
    max-width: $max-page-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 77px;
    padding: 25px 0;
    .column {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;
      @include breakpoint("phone-tablet") {
        width: 50%;
      }
      &:first-child {
        justify-content: flex-start;
      }
      &:nth-child(2n) {
        @include breakpoint("phone-tablet") {
          display: none;
        }
      }
      &:last-child {
        justify-content: flex-end;
        @include breakpoint("phone-tablet") {
          margin-left: 10px;
          display: flex;
          justify-content: space-around;
        }
      }
      .logo {
        width: 200px;
        min-width: 150px;
        @include breakpoint("phone-tablet") {
          margin-left: 30px;
        }
      }
      .searchInput {
        width: 215px;
        box-sizing: border-box;
        padding: 5px;
        border: solid 1px #dbdbdb;
        border-radius: 3px;
        background-color: #fafafa;
        font-size: $normal-font-size;
        font-weight: 300;
        &::placeholder {
          color: $dark-grey;
        }
        &:focus {
          outline: none;
          background-color: white;
        }
      }
      .navIcon {
        margin-left: 30px;
        cursor: pointer;
      }
    }
  }
}